.sidebar__container{
    border-right: 2px solid #F1F3F8;
    max-width: 135px;
    padding: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__container h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.06em;
    margin-bottom: 50px;
}

.categories__container{

    
}

.categories__selectors{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}





.categorie__selector{

    margin-bottom: 15px;
    cursor: pointer;
    opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.categories-primary-enter{
    position: absolute;
    visibility: hidden;
    transform: translateY(-100%);
}

.categories-primary-enter-active{
    transform: translateY(0%);
    visibility: visible;

    transition: all 500ms ease;
    
}

.categories-primary-exit{
}

.categories-primary-exit-active{
    transform: translateY(-100%);
    transition: all 500ms ease;

}